
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Larken';
    src: url('/fonts/larken-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Geograph Medium';
    src: url('/fonts/geograph-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Geograph';
    src: url('/fonts/geograph-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }


  /* Create a CSS class for the font */
  .font-larken {
    font-family: 'Larken', serif;
  }

  .font-geograph-medium {
    font-family: 'Geograph Medium', serif;
  }
  .font-geograph {
    font-family: 'Geograph', serif;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#support {
    scroll-margin-top: 110px; 
}

#contact {
    scroll-margin-top: 50px; 
}

#avs {
  scroll-margin-top: 40px; 
}
